<div ng-include="'../layouts/guestHeader.html'"></div>
<section id="contact-page" style="padding-top:70px; padding-bottom:30px;">
    <div class="container" style="padding-top: 100px; padding-bottom: 40px;">
        <div class="center">        
            <h2>We Are Hard At Work To Connect With You</h2>
            <p class="lead">
                Please note that the application is still under development. We are working hard to deliver it to you as soon as possible.
            </p>
            <p class="text-muted" style="margin-top: -20px;">
                Please subscribe with your Email so we can let you know as soon as we are done!
            </p>
            <br /><br />
            <div class="row" >
                <h1 class="subheader" style="text-align: center;">Subscribe</h1>
                <br />
                <form name="subscribeForm">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-3 col-sm-offset-3">
                        <div class="form-group-lg" style="margin-top: 8px;">
                            <input type="email" name="emailField" ng-model="email" class="form-control" required placeholder="Email Address Here">
                        </div>  
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3 col-md-offset-0 col-sm-offset-0 col-xs-offset-3">
                        <button class="btn btn-lg btn-primary" ng-click="subscribe()">Let Me Know</button>
                    </div>
                </form>                
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <div ng-include="'../layouts/alert.html'"></div>
                </div>
            </div
        </div> 
        
</section><!--/#contact-page-->
<div ng-include="'../layouts/guestFooter.html'"></div>