<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015. Developed By <a target="_blank" href="http://www.k2vsoftware.com/" title="Web development by K2V Software Solutions"><span class="k2v">K2V Software Solutions</span></a>.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a ui-sref="home">Home</a>
                    </li>
                    <li><a ui-sref="about">About Us</a>
                    </li>						
                    <li><a ui-sref="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

